@model PublicWebsite.Models.OrderModel

<div class="container">
    <div class="row">
        <div class="col-6">
            <div id="myMap" style="height: 500px; width:100%;"></div>


        </div>
        <div class="col-6">
            <div class="col-md-12 order-md-last d-flex mx-auto">

                <form class="bg-white p-5 contact-form" method="post">
                    @* <h5 class="text-center">Place Order</h5> *@
                    <div class="form-group">
                        <label>Delivery Info</label>
                        <input type="text" class="form-control" placeholder="Delivery Info" name="DeliveryInfo">
                    </div>
                    <div>
                        <div class="form-group">
                        <label>Time To Deliver</label>
                        <input type="time" class="form-control" name="DeliveryTime">
                    </div>
                    <div>
                        <div class="form-group">
                        <label>Date To Deliver</label>
                        <input type="date" class="form-control" name="DeliveryDate">
                    </div>

                    <div class="form-group">
                        <input   class="form-control" id="lat" placeholder="Latuide" name="DeliveryLatitude" readonly>
                    </div>
                    <div class="form-group">
                        <input  class="form-control" id="lng" placeholder="Longtuide" name="DeliveryLongitude" readonly>
                    </div>
                    <div class="form-group">
                        <input  type="hidden" class="form-control" id="lng" value="@ViewBag.TotalPrice" placeholder="Total Price" name="TotalPrice" readonly>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-5"> Place Order </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<p id="demo"></p>











<script>
getlatAndLng();
    function initMap() {


        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
                    var map = new google.maps.Map(document.getElementById("myMap"), {
            center: pos,
            zoom: 15
        });
        var myLatLng = pos;
         document.getElementById("lat").value =
     pos.lat;
      document.getElementById("lng").value =
     pos.lng;
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
           draggable:true,
            title: 'Your Location'
        });
        document.getElementById('lat').value = pos.lat;
        document.getElementById('lng').value = pos.lng;

          });

            
        }
         
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5gvN50xPVuO3Fp6sABCumYv7M53PeaLE&callback=initMap"
        async defer></script>




