@model CMS.Models.CountryModel
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Countires</h1>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Add New Country</h6>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Countries" asp-action="Action" class="form-row">
                        <div class="col-md-6">
                            <label>
                                Country Name(En)
                            </label>
                            <input type="text" placeholder="Ex : Jordan" name="NameEn" class="form-control" required/>
                        </div>
                        <div class="col-md-6">
                            <label>
                                Country Name(Ar)
                            </label>
                            <input type="text" placeholder="مثال : الاردن " name="NameAr" class="form-control" required/>
                        </div>
                        <div class="col-md-12 text-center mt-5">
                            <input type="submit" value="Submit" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->
